h3{
	font-style: italic;
	text-align: center;
 }

 @media only all and (max-width: 64em){
	 .nav li{
	 box-sizing:border-box;
	 width: 100%;
	 padding: 15px;
	 display:block;
	 background-color: #202222;
	 }
	 
	 .nav li:hover{
	background-color: #303030;
	}
	 
	 .nav li:active{
	 background-color: #303030;
	 }
